/* editstudent.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="text"] {
    width: 100%;
    padding: 10px 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-color: #f9fbfc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #495057;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #70777e;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}a {
    margin-top: 10px;
    display: block;
    width: 93%;
    padding: 10px;
    background-color: #495057;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
a:hover {
    background-color: #70777e;
}
